<h1>Stupid Coaching</h1>
<div class="box question">
  <p><%= params[:question] %></p>
  <p class="name">-You</p>
</div>
<div class="box answer">
  <p><%= @answer %></p>
  <p class="name">-Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
